.viewSwitch {
    margin-left: 1rem;
    padding: .5rem !important;
    font-size: 1.2rem;
    border-radius: 1rem !important;
    background: #ccc;
    cursor: pointer;
    user-select: none;
    
    i {
        font-size: 1.5rem;
        margin-left: 1rem;
    }
}

.viewSwitchContainer {
    display: flex;
    align-items: center;
    height: 4.2rem;
    background: rgb(21, 25, 31);
}

.productGrid {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 0 2rem 0 0;
}

.productCount {
    margin-left: 1.25rem;
    font-size: 1.3rem;
    color: #fff;
}

.loaderContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
    height: 90%;
}

.loadingLabel {
    margin-top: -5rem;
    font-weight: bold;
    font-size: 2rem;
}
