.productGrid {
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: 90vh !important;
    padding: 0 2rem 0 0;
}

.loaderContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
    height: 90%;
}

.loadingLabel {
    margin-top: -5rem;
    font-weight: bold;
    font-size: 2rem;
}
