.loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    width: 75%;
    padding-bottom: 4rem;
}

.loader {
    width: 30%;
}

.loadingLabel {
    margin-top: -5rem;
    font-weight: bold;
    font-size: 2rem;
}