.cartPageLayout {
    display: flex;
    min-height: 80vh;
    padding: 2rem;
    color: var(--theme-checkout-text);
    background: var(--theme-checkout-background);
}

.cartHeader {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}

.basketSection {
    width: 75%;
    padding: 0rem 2rem 2rem 2rem;
    background: var(--theme-page-background);
    box-shadow: 2px 2px 2px grey;
}

.cartItemContainer {
    display: flex; 
    justify-content: space-between;
}

.cartQuantityContainer { 
    display: flex; 
    align-items: center 
}

.pricingSection {
    position: absolute;
    right: 20px;
    width: 20%;
    margin-left: 1rem;
    padding-top: 1.5rem !important;
    height: 85px !important;
    font-size: 1.75rem;
    text-align: center;
    color: var(--theme-checkout-text);
    background: var(--theme-page-background);
    box-shadow: 2px 2px 2px grey;
    z-index: 1;
}

.navbarSticky {
    position: fixed;
    top: 10px;
    right: 20px;
    animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
    from {
        transform: translateY(-12rem);
    }

    to {
        transform: translateY(0rem);
    }
}

.productContainer {
    display: flex;
    margin: 2rem 0;
    border-bottom: 1px solid #ccc;
}

.productDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.productTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .75rem;
}

.productData {
    font-size: 1.50rem;
    margin-bottom: .5rem;
}

.titleSize {
    font-size: 1.5rem;
}

.labelBold {
    font-weight: bold;
}

.productPrice {
    margin-left: auto !important;
}

.image {
    width: 250px;
    height: 145px;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.emptyCart {
    width: 700px;
    height: 450px;
    margin: 3rem;
}

.backToShopping {
    margin-top: -7rem;
    margin-bottom: 5rem;
    font-size: 1rem !important;
    font-weight: normal !important;
    text-align: center;
    cursor: pointer;
    width: 20% !important;
}

hr {
    margin-bottom: 2rem;
}

.cartImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartQuantityBtn {
    margin: .5rem .25rem .5rem 0;
    width: 40px !important;
    padding: 5px !important;
    font-size: .75rem !important;
    font-weight: 100 !important;
}

.productAvailable {
    color: green;
}

.productNotAvailable {
    color: red;
}

.checkoutBtnWidth {
    margin-top: 1rem;
    width: 200px !important;
    padding: 5px !important;
    font-size: 1.25rem !important;
    font-weight: normal;
}
.checkoutBtnCheckout {
    display: block;
    width: 150px !important;
    margin-right: 1rem !important;
    padding: 8px !important;
    font-size: 1rem !important;
    font-weight: normal !important;
}

.cartTotal { 
    font-weight: bold; 
    margin-left: .5rem 
}