.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
    padding-left: -25%;
    user-select: none;
}

.pageNumbers {
    display: inline-block;
    margin: 0 .5rem 0 .1rem;
    padding: 1.25rem;
    font-size: 1.75rem;
    background: rgb(180, 180, 180);
    border-radius: .2rem;
    cursor: pointer;
    
    &:hover {
        color: var(--theme-page-text);
        background: (--theme-page-background);
    }
}

.active {
    border-radius: .2rem;
    background: rgb(129, 129, 129);
    // border: 1px solid rgb(194, 194, 194);
    cursor: default;
}

.leftArrow, .rightArrow {
    font-size: 3rem;
    cursor: pointer;
}

.rightArrow {
    margin-left: .5rem;
}

.leftArrow {
    margin-right: 1rem;
}