@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');

html {
    font-size: 62.5%;
    font-family: sans-serif;

    body {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
    }
}

.baseTheme {
    color: var(--theme-page-text);
    background: var(--theme-page-background);
    overflow-x: hidden;
}

.react-select__control {
    border: 0 !important;
    border-radius: 0px !important;
}

/* MODAL STYLES */
.mymodal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 40%;
    padding: 20px;

    outline: none;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: .8rem;
    overflow: auto;
}

.myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

h1 {
    margin-bottom: 1rem;
}

h2, h3 {
    margin: .7rem 0 !important;
    color: #909090
}

/* STRIPE SPECIFIC STILYNG */
.stripe-card {
    width: 22%;
    margin-bottom: 1rem;
}

.card-element-expiry {
   width: 6rem;

   span {
    margin-left: 1rem !important;
   }
}

.card-element-cvv {
    width: 3rem;
    margin-left: 2.2rem;
}

.card-label {
    display: inline-block;
    margin-left: 1.4rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.card-expiry {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: bold;
}

.submit-btn {
    margin-top: 1rem;
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: .5px 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
/* STRIPE SPECIFIC STILYNG */

.stripe-card span {
    font-weight: bold;
    font-size: 1.35rem;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.error-messge {
    color: red;
    font-weight: 500;
    font-family: 'Be Vietnam Pro', sans-serif;
}