.btn {
    padding: .2rem .75rem;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        background: #FFF
    }
}

.leftRadius {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.rightRadius {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.marginRight {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.right {
    margin-left: auto;
}

.marginBottom {
    margin-bottom: 9px;
}