@import './partials/theme';
@import './partials/mixins';
@import './partials/global';

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px;
  text-align: left;
  padding: 8px;
}

thead {
    font-weight: bold;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.advert-padding {
  padding: 1.5rem;
}

.brand-visibility {
  visibility: hidden;
}

.brand-visibility-margin {
  margin-right: .5rem;
}

.price-list-style {
  list-style-type: none;
  margin-bottom: .5rem;
}

li {
  list-style: none !important;
}

.form-field-error {
  color: var(--theme-error-text);
  margin: -.5rem 0 1rem 0;
  font-weight: bold;
}

.form-field-error_contrast {
  color: var(--theme-error-text_contrast);
  margin: -.5rem 0 1rem 0;
  font-weight: bold;
}

.detail {
  font-size: 1.75rem;
  letter-spacing: .5px;
  line-height: 20px;
}

.spacing {
  margin: 3px 0;
}

.update-btn {
    margin-top: 10px;
    padding: .5rem .75rem;
    font-size: 1.15rem !important;
    // width: 175px;
    // font-weight: bold;
    letter-spacing: .4px;
    background: rgb(247, 194, 68);
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    transition: all 300ms linear;

    &:hover {
        background: rgba(238, 167, 0, 0.76);
    }
}

.accordion {
  border: 0;
}

.accordion__button {
  width: 95%;

  &:first-of-type {
    margin-bottom: 10px;
  }
}

.accordion__panel{
  padding: 0px 5px 15px 5px;
}

.react-tel-input .form-control {
  margin-top: 23px !important;
  width: 100%;
  height: 43px;
  border-radius: 3px;
}

.react-tel-input  {
  height: 2.5rem;
}

.flag-dropdown {
  margin-top: 28px;
  margin-left: 2px;
  height: 0;
  border: 0px !important
}

.selected-flag {
  height: 30px !important;
  background: #FFF;
}

.react-select {
  margin-bottom: 2rem;
}

.basket-margin-fix {
  margin-bottom: 1rem;
}

.confirm-image {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  width: 40px;
  height: 35px;
}

.confirm-product {
  width: 75px;
  margin-right: 20px;
}

.submit-payment {
    width: 30%;
    margin-left: 1rem;
    padding:1.75rem 1rem;
    font-size: 1.25rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    background: rgba(238, 167, 0, 0.76);
    border: 0;
    border-radius: 3px;
    transition: all 300ms linear;
    cursor: pointer;
    
    &:hover {
        background: rgba(224, 149, 0, 0.76);
    }
}
