.starLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.starStyling {
    list-style: none;
    margin: 0;
    padding: 0;
}

.starTitle {
    font-weight: bold;
    margin: 1rem 0 1rem 0;
}

.titleBottomMargin {
    margin-bottom: 1rem;
}

.priceBottomMargin {
    margin-top: .2rem;
    margin-bottom: -.75rem;
}

.starLabel {
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: rgb(255, 98, 98);
    }
}

.clear {
    width: 75%;
    font-size: 1.25rem;
    margin-top: .5rem;
    margin-left: 2.75rem;
    text-align: center;
    cursor: pointer;

    &:hover {
        color: rgb(255, 98, 98);
    }
}

.clearMargin {
    margin-top: .7rem;
}

.brandLabelDisplay {
    display: flex;
}

.brandLabel {
    cursor: pointer;
    margin-bottom: .28rem;
    
    &:hover {
        color: rgb(255, 98, 98);
    }
}

.brandList {
    list-style: none;
    margin-top: 0rem;
    margin-left: -3rem;
}

.priceLimitColor {
    font-weight: bold;
    color: rgb(255, 98, 98);
}

.starsStyle {
    display: flex;
    cursor: pointer;
}

.starsContainer {
    margin-left: -4rem; 
    margin-top: 0rem 
}